.header {
	background: $bg-dark-color;
	color: $font-lightest-color;
	margin-bottom: $l-size;
	padding: $m-size 0;
}

.header__title {
	font-size: $l-size;
	margin: 0;
}

.header__subtitle {
	color: $font-light-color;
	font-size: $m-size;
	font-weight: 500;
	margin: 0;
}

@media (min-width: $desktop-breakpoint) {
	.header {
		margin-bottom: $xl-size;
	}
}