// Colors
$off-black: #345170;
$off-white: #91b3d6;
$dark-blue: #FFFFFF;
$blue: #345170;
$light-blue: #F7F9FB;
$purple: #8357c5;
$green: #4e9959;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors 

$bg-dark-color: #345170;
$bg-light-color: #ffffff;
$bg-lightest-color: #F7F9FB;
$accent-color: #4e9959;
$primary-color: #345170;
$font-light-color: #91b3d6;
$font-lightest-color: #ffffff;